/* styles-6 variables */
$theme-color: #303030;
$text-color: #121212;
$text-color-secondary: #121212;
$text-grey: #a8a8a8;
$divider: #e8e8e8; /* likely unused */
$lighter-grey: #ccc; /* likely unused */
$darker-grey: #666; /* likely unused */
$smoky-white: #f5f5f5; /* background */
$heart: #fb866a;
